.explorerBox
{
	font-family: 'Merienda', cursive;
	min-width: 210px;
	min-height: 110px;
	position: absolute !important;
	background: #31393a;
	z-index: 10000;
	top: 0;
	left: 0;
	-webkit-box-shadow: 4px 6px 11px -1px rgba(0, 0, 0, .55);
	-moz-box-shadow: 4px 6px 11px -1px rgba(0, 0, 0, .55);
	box-shadow: 4px 6px 11px -1px rgba(0, 0, 0 , .55);
	overflow: hidden;
}

.confirmBox
{
	top: 38%;
	left: 43%;
	text-align: center;
	min-height: 150px;
	z-index: 50001 !important;
}

.explorerBox .content > .ps__rail-y
{
	right: 0 !important;
	top: 1.85em !important;
	z-index: 89;
}

.explorerBox.scrollReset .content > .ps__rail-y
{
	right: 0 !important;
	top: 0 !important;
}

.explorerBox .content > .ps__rail-x
{
	left: 0 !important;
	bottom: 0 !important;
	z-index: 89;
}

.explorerBox header
{
	max-height: 1.85em;
	line-height: 1.85em;
	background: #2d88af;
	min-width: 100%;
	font-size: .7em;
	text-align: center;
	font-weight: 700;
	overflow: hidden;
	padding: 0 1.3em;
}
.explorerBox header *
{
	z-index: 1;
}

.explorerBox footer
{
	position: absolute;
	bottom: 0;
	min-height: 4px;
	padding: 2px 5px;
	width: 100%;
	background: #2b3233;
	color: white;
	font-size: .65em;
	text-align: center;
}

.explorerBox .content
{
	padding: .55em;
	font-size: .75em;
	color: white;
	height: 100%;
	height: -o-calc(100% - 1.85em);
	height: -moz-calc(100% - 1.85em);
	height: -webkit-calc(100% - 1.85em);
	height: calc(100% - 1.85em);
	width: 100%;
	padding-bottom: .5em;
	overflow: auto;
}

.explorerBox > header > .exit
{
	font-size: 1.4em;
	position: absolute;
	right: 5px;
	top: 5px;
	-o-transition: all linear .38s;
	-moz-transition: all linear .38s;
	-webkit-transition: all linear .38s;
	transition: all linear .38s;
	z-index: 2;
}

.explorerBox > header > .exit:hover
{
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, .2);
}

.notificationBox
{
	font-family: 'Merienda', cursive;
	position: absolute !important;
	right: 0;
	bottom: 0;
	color: white;
	font-size: .6em;
	text-align: center;
	z-index: 50001 !important;
	overflow: hidden;
}

.notificationBox p
{
	display: block;
	background: #0d8774;
	border-right: .45em solid #01b59a;
	min-width: 250px;
	max-width: 250px;
	max-height: 80px;
	min-height: 40px;
	padding: 8px 5px;
	word-wrap: break-word;
	margin-top: .5em;
	-webkit-box-shadow: 2px 3px 20px -0.5px rgba(0,0,0,0.55);
	-moz-box-shadow: 2px 3px 20px -0.5px rgba(0,0,0,0.55);
	box-shadow: 2px 3px 20px -0.5px rgba(0,0,0,0.55);
}

.explorerBox.front
{
	z-index: 40001 !important;
}
