.SOSEngine .scene
{
	position: relative;
	overflow': hidden;
}

.SOSEngine .window
{
	overflow: hidden;
}

.SOSEngine .object
{
	position: absolute;
	z-index: 1;
}

.SOSEngine .image
{
	position: absolute;
	background-repeat: no-repeat !important;
	z-index: 1;
	width: 200px;
	height: 200px;
}

.SOSEngine .turnX
{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.SOSEngine .turnY
{
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

#SOSEngine img
{
	position: absolute;
}